:root {
  --guide-red: rgba(255, 0, 0, 0.8);
  --guide-blue: #0000ff;
  --items-panel-width: 250px;
  --map-panel-header-top-height: 20px;
  --map-panel-header-left-width: 20px;
  --tile-size: 65px;
  --panel-header: 30px;
  --tile-caption-color: #fff;
  --tile-caption-stroke-color: #000;
}

html {
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  user-select: none;
  box-sizing: border-box;
}

body {
  padding: 0 0 0 0;
  margin: 0px;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.fileloader {
  /*position: absolute;*/
  display: inline-block;
  left: 0px;
  top: 0px;
  background-color: #8bffec;
  font-weight: bold;
  color: #000;
  height: 100%;
}

.itemForm {
  $width: 700px;
  $height: 400px;

  z-index: 8000;
  position: absolute;
  background-color: #fff;
  width: $width;
  height: $height;
  border: 5px solid #000;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: height 0.4s ease-in-out, transform 0.4s ease-in-out;

  display: none;
}

.itemlist {
  align-content: flex-start;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  .item_tile {
    margin: 5px;
    flex-grow: 0;
    flex-shrink: 0;

    .selected .tile_layer_top {
      background-color: rgba(255, 255, 0, 0.4);
    }
  }
}

.tile {
  user-select: none;
  word-break: break-all;
  position: relative;
  background-color: #000;
  width: var(--tile-size);
  height: var(--tile-size);
  overflow: hidden;

  @for $i from 1 through 10 {
    .tile_layer#{$i} {
      z-index: $i * 10;
    }
  }
  .tile_info_layer {
    width: 100%;
    height: 100%;
    z-index: 5100;
    table {
      width: 100%;
      height: 100%;
      font-size: 8px;

      color: var(--tile-caption-color);

      text-shadow: 0 0 4px var(--tile-caption-stroke-color),
        0 0 4px var(--tile-caption-stroke-color),
        0 0 4px var(--tile-caption-stroke-color),
        0 0 4px var(--tile-caption-stroke-color);
      letter-spacing: 0.5px;
    }
  }

  .tile_layer_top {
    font-weight: bold;
    font-size: 8px;
    z-index: 5000;
    width: 100%;
    height: 100%;
    color: var(--tile-caption-color);

    text-shadow: 0 0 4px var(--tile-caption-stroke-color),
      0 0 4px var(--tile-caption-stroke-color),
      0 0 4px var(--tile-caption-stroke-color),
      0 0 4px var(--tile-caption-stroke-color);
    letter-spacing: 0.5px;

    div {
      padding: 2px;
      width: 100%;
      height: 100%;
    }
  }
  .tile_layers {
    position: absolute;
    left: 0px;
    right: 0px;
  }
}

.tiles {
  .tile {
    .tile_layer_top {
      &:hover {
        background-color: rgba($color: #ffff00, $alpha: 0.2);
      }
    }

    &.selected .tile_layer_top {
      background-color: rgba(255, 255, 0, 0.2);
    }
  }
}

.non_walkover {
  border: 2px solid var(--guide-red);
}

$direction: (
  "left": left,
  "right": right,
  "up": top,
  "down": bottom,
);
@each $name, $style in $direction {
  .non_move#{$name} {
    border-#{$style}: 2px solid var(--guide-red);
  }
  .event#{$name} div {
    border-#{$style}: 2px solid var(--guide-blue);
  }
}

.tiles {
  overflow: auto;
  width: 100%;
  height: 100%;

  .tile_corner {
    width: var(--map-panel-header-left-width);
    height: var(--map-panel-header-top-height);

    position: absolute;
    left: 0px;
    top: var(--panel-header);

    cursor: pointer;
    background-color: rgba($color: #ffff00, $alpha: 0.8);
    z-index: 100;
    &:hover {
      background-color: rgba($color: #ffff00, $alpha: 1);
    }
    &.active {
      background-color: rgba($color: #ff0000, $alpha: 0.8);
    }
  }
  .tile_head_top {
    width: var(--tile-size);
    height: var(--map-panel-header-top-height);
    line-height: var(--map-panel-header-top-height);
    text-align: center;
    cursor: pointer;
    background-color: rgba($color: #ffff00, $alpha: 0.2);
    &:hover {
      background-color: rgba($color: #ffff00, $alpha: 0.8);
    }
    &.active {
      background-color: rgba($color: #ff0000, $alpha: 0.8);
    }
  }

  .tile_head_left {
    width: var(--map-panel-header-left-width);
    height: var(--tile-size);
    line-height: var(--tile-size);
    text-align: center;
    left: 0;

    cursor: pointer;
    background-color: rgba($color: #ffff00, $alpha: 0.2);
    &:hover {
      background-color: rgba($color: #ffff00, $alpha: 0.8);
    }
    &.active {
      background-color: rgba($color: #ff0000, $alpha: 0.8);
    }
  }

  .row {
    display: flex;

    .col {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}

.editor {
  clear: both;
  width: 100%;
  height: 100%;
}

.menu_panel {
  position: relative;
  float: left;
  width: var(--items-panel-width);
  height: 100%;

  .resizebar {
    position: absolute;
    height: 100%;
    right: 0px;
    top: 0px;
    cursor: col-resize;
    width: 3px;
    background-color: #000;
  }

  .items_panel {
    height: 60%;
    position: relative;
    .title_bar {
      position: static;
    }
    .itemlist {
      width: calc(100% - 3px);
      height: calc(100% - var(--panel-header));
    }
  }

  .tileinfo_panel {
    height: 40%;
    position: relative;
    .title_bar {
      position: static;
    }
    .itemlist {
      width: calc(100% - 3px);
      height: calc(100% - var(--panel-header));
    }
  }
}

.map_panel {
  overflow: hidden;
  padding-top: calc(var(--panel-header) + var(--map-panel-header-top-height));
  padding-left: var(--map-panel-header-left-width);
  position: relative;

  float: right;
  width: calc(100% - var(--items-panel-width));
  height: 100%;
  .tiles {
    .heading {
      padding-left: var(--map-panel-header-left-width);
      position: absolute;
      left: 0;
      top: var(--panel-header);
    }
    .heading-left {
      position: absolute;
      left: 0;
      display: flex;
      flex-direction: column;
      top: calc(var(--panel-header) + var(--map-panel-header-top-height));
    }
  }
}

.title_bar {
  overflow: hidden;
  line-height: var(--panel-header);
  height: var(--panel-header);
  width: 100%;
  top: 0px;
  left: 0;
  position: absolute;
  z-index: 7000;
  background-color: blue;
  color: #fff;
  clear: both;
}

.tile_selector {
  --selector-tile-size: 50px;

  width: 90%;
  height: calc(var(--tile-size) + 10px);
  resize: both;
  clear: both;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #000;

  .selector_tile {
    position: relative;
    border: 1px solid #000;
    width: var(--selector-tile-size);
    height: var(--selector-tile-size);
    display: block;
    float: left;
    padding: 0px;
    overflow: hidden;

    & > img {
      --selector-tile-x: 0;
      --selector-tile-y: 0;

      position: absolute;
    }

    & > div {
      position: absolute;
      font-size: 8px;
      font-weight: bold;
      width: 100%;
      height: 100%;
    }

    &.selected {
      border: 1px solid #f00;
      & > div {
        background-color: rgba(255, 0, 0, 0.2);
      }
    }
  }
}
