html {
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0 0 0 0;
  margin: 0px;
  height: 100%;
  position: relative;
}

.fileloader {
  /*position: absolute;*/
  display: inline-block;
  left: 0px;
  top: 0px;
  background-color: #8bffec;
  font-weight: bold;
  color: #000;
  height: 100%;
}

.itemForm {
  $width: 700px;
  $height: 400px;

  z-index: 10000;
  position: absolute;
  background-color: #fff;
  width: $width;
  height: $height;
  border: 5px solid #000;
  border-radius: 5px;
  left: 50%;
  margin-left: -$width/2;
  margin-top: -$height/2;
  top: 50%;
  display: none;
}

.itemlist {
  align-content: flex-start;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  .item_tile {
    margin: 5px;
    flex-grow: 0;
    flex-shrink: 0;

    .selected .tile_layer_top {
      background-color: rgba(255, 255, 0, 0.4);
    }
  }
}

$tile_size: 65px;

.tile {
  user-select: none;
  word-break: break-all;
  position: relative;
  background-color: #000;
  width: $tile_size;
  height: $tile_size;
  overflow: hidden;

  @for $i from 1 through 10 {
    .tile_layer#{$i} {
      z-index: $i * 10;
    }
  }

  .tile_layer_top {
    z-index: 9900;
    width: 100%;
    height: 100%;
  }
  .tile_layers {
    position: absolute;
    left: 0px;
    right: 0px;
  }
}

.tiles {
  .tile {
    .tile_layer_top {
      &:hover {
        background-color: rgba($color: #ffff00, $alpha: 0.2);
      }
    }

    &.selected .tile_layer_top {
      background-color: rgba(255, 255, 0, 0.2);
    }
  }
}

.non_walkover {
  border: 3px solid rgba(255, 0, 0, 0.8);
}

.non_moveleft {
  border-left: 3px solid rgba(255, 0, 0, 0.8);
}

.non_moveright {
  border-right: 3px solid rgba(255, 0, 0, 0.8);
}

.non_moveup {
  border-top: 3px solid rgba(255, 0, 0, 0.8);
}

.non_movedown {
  border-bottom: 3px solid rgba(255, 0, 0, 0.8);
}

.tiles {
  overflow: auto;
  width: 100%;
  height: 100%;

  .tile_corner {
    width: 20px;
    height: 20px;

    cursor: pointer;
    background-color: rgba($color: #ffff00, $alpha: 0.2);
    &:hover {
      background-color: rgba($color: #ffff00, $alpha: 0.8);
    }
    &.active {
      background-color: rgba($color: #ff0000, $alpha: 0.8);
    }
  }
  .tile_head_top {
    width: $tile_size;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    background-color: rgba($color: #ffff00, $alpha: 0.2);
    &:hover {
      background-color: rgba($color: #ffff00, $alpha: 0.8);
    }
    &.active {
      background-color: rgba($color: #ff0000, $alpha: 0.8);
    }
  }

  .tile_head_left {
    width: 20px;
    height: $tile_size;
    line-height: $tile_size;
    text-align: center;

    cursor: pointer;
    background-color: rgba($color: #ffff00, $alpha: 0.2);
    &:hover {
      background-color: rgba($color: #ffff00, $alpha: 0.8);
    }
    &.active {
      background-color: rgba($color: #ff0000, $alpha: 0.8);
    }
  }

  .row {
    display: flex;

    .col {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}

.editor {
  clear: both;
  width: 100%;
  height: 100%;
}

.items_panel {
  resize: horizontal;
  padding-top: 30px;
  position: relative;
  float: left;
  width: 25%;
  border-right: 2px solid #000;
  height: 100%;
}

.map_panel {
  padding-top: 30px;
  position: relative;

  float: right;
  width: 75%;
  height: 100%;
}

.title_bar {
  line-height: 30px;
  height: 30px;
  width: 100%;
  top: 0px;
  position: absolute;
  z-index: 10000;
  background-color: blue;
  color: #fff;
  clear: both;
}
